<header>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-black fixed-top">
        <a class="navbar-brand" href="index.html"><img src="img/logos/ball-logo-nav.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto text-uppercase">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about.html">About</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Training
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="program-1.html">Program 1</a>
                            <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="program-2.html">Program 2</a>
                            <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="program-3.html">Program 3</a>
                            <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="program-4.html">Program 4</a>
                    </div>
              </li>
                <li class="nav-item">
                    <a class="nav-link" href="camps-events.html">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="calendar.html">Calendar</a>
                </li>
               
            </ul>
        </div>
    </nav>
</header>
