
    <div class="row how-it-works py-5 text-center">
        <div class="col-12"> 
            
            <h2 class="mt-5">How Memberships Work</h2> 
            
                <div class="row justify-content-around">
                    <div class="col col-sm-6">
                        
                        <img src="img/Icons/Sign-up-Online.png">
                       <h4>Start Anytime</h4>
                        <p>Sign up online anytime of the month.  Program memberships are good for 30 days from the day you sign up.  We do not prorate memberships.  Drop In Workout passes are a seperate one time pass sold exclusivley online.</p>
                        
                    </div>

                    <div class="col-12 col-sm-6">
                        <img src="img/Icons/Payment.png">
                            <h4>Flat fee</h4>
                            <p>Program memberships are like a memberhsip to your local gym and give you access to training for 30 days.  Prices vary by program.  A program membership does not guarantee a specific number of montly workouts.  Drop-In Workout passes are not a membership.</p>
                    </div>
                    <div class="col-12 col-sm-6">
                        <img src="img/Icons/What-you-get.png">
                            <h4>What you get</h4>
                            <p>A membership gives you unlimited access to 1 of 3 programs! We know that scheduling confilicts occur and we have set our price in anticipation of players missing workouts.  We do not refund or prorate due to missed workouts. A Drop-In Workout pass never expires and allows you to join a specified program for 1 day.</p>
                    </div>
                    <div class="col-12 col-sm-6">
                        <img src="img/Icons/Recurring-Payment.png">
                            <h4>Recurring Payments</h4>
                            <p>All program memberships are recurring, charged every 30 days from the day you sign up. If you need to cancel your membership, please <a itemprop="email" href="mailto:info@leubasketball.com">Contact us</a> before your next billing date.  If you don't, you will be charged again.  We do not refund for failure to cancel. </p>
                    </div>
			</div>
        </div> 
    </div>           
      